name: Build and deploy documentation
on:
    push:
        tags:
          - "v*"

jobs:
    build-docs:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - uses: actions/setup-python@v5
            with:
                python-version: "3.12"
          - run: pip install tox
          - run: tox -e docs

          - name: Upload artifact
            uses: actions/upload-pages-artifact@v3
            with:
                path: "dist/doc"

    deploy:
        needs: build-docs
        permissions:
            pages: write
            id-token: write
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        steps:
          - id: deployment
            uses: actions/deploy-pages@v4
